.burgerConstructorCol {
    padding: 100px 16px 52px;
    border: 2px solid #4C4CFF;
    border-top: 0;
    width: calc(50% - 20px);
    flex: 1;
}

.burgerConstructorContent {
    max-height: 912px;
    overflow-y: auto;
    composes: custom-scroll from global;
    margin-bottom: 40px;
    
}

.total {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
    margin-right: 8px;
}
.total + svg {
    margin-right: 40px;
    width: 33px;
    height: 33px
}