

body {
  margin: 0;
  font-family: 'Jet Brains Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.space {
    width: 40px;
}

.App {
  padding: 40px 0;
}

nav .app-header__item {
  margin-right: 8px;
}
.app-header__item svg {
  margin-right: 8px;
  border: 1px dashed #4C4CFF;
}
.app-header__item {
  display: flex;
  align-items: center;
  border: 1px dashed #4C4CFF;
  border-radius: 40px;
  padding: 20px;
}

.logo {
  border: 1px dashed #4C4CFF;
  height: 50px;
}