.burgerIngredientsCol {
    max-height: 912px;
    overflow-y: auto;
    composes: custom-scroll from global;
    border: 2px solid #4C4CFF;
    border-top: 0;
    width: calc(50% - 20px);
    flex: 1;
}

.tabContent {
    
}
