.burgerIngredientsCol {
    max-height: 756px;
    overflow-y: auto;
    composes: custom-scroll from global;
    border-top: 0;
    width: calc(50% - 20px);
    flex: 1;
}

.tabWrap {
    display: flex;
}